.container {
  padding: 1rem;
  margin: 0;
}

.section {
  background: #f9faff;
  border-radius: 50px;
}

.mapBox {
  height: 220px;
  border-radius: 18px;
  font-size: 40px;
  color: #d9d9d9;
  background: #e0e0e0;
}

.mapText {
  color: #000000;
  font-size: 48px;
}

.card {
  border-radius: 18px;
  background: #fff;
  box-shadow: 5px 5px 10px 15px rgba(152, 152, 152, 0.06);
}

.cardBorder {
  border: light 2px #3b3b3b;
}
